<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="xEyedropper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Eyedropper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
<userSettings>
        <xEyedropper.Properties.Settings>
                <setting name="UpgradeRequired" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="ColorHTML" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="ColorRGB" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="CustomColor1" serializeAs="String">
                        <value>1973790</value>
                </setting>
                <setting name="CustomColor2" serializeAs="String">
                        <value>5147488</value>
                </setting>
                <setting name="CustomColor3" serializeAs="String">
                        <value>14064726</value>
                </setting>
                <setting name="CustomColor4" serializeAs="String">
                        <value>11062965</value>
                </setting>
                <setting name="CustomColor5" serializeAs="String">
                        <value>16042642</value>
                </setting>
                <setting name="CustomColor6" serializeAs="String">
                        <value>16777215</value>
                </setting>
                <setting name="CustomColor7" serializeAs="String">
                        <value>16777215</value>
                </setting>
                <setting name="CustomColor8" serializeAs="String">
                        <value>16777215</value>
                </setting>
                <setting name="CustomColor9" serializeAs="String">
                        <value>14474460</value>
                </setting>
                <setting name="CustomColor10" serializeAs="String">
                        <value>7884582</value>
                </setting>
                <setting name="CustomColor11" serializeAs="String">
                        <value>8756694</value>
                </setting>
                <setting name="CustomColor12" serializeAs="String">
                        <value>10197915</value>
                </setting>
                <setting name="CustomColor13" serializeAs="String">
                        <value>16777215</value>
                </setting>
                <setting name="CustomColor14" serializeAs="String">
                        <value>16777215</value>
                </setting>
                <setting name="CustomColor15" serializeAs="String">
                        <value>16777215</value>
                </setting>
                <setting name="CustomColor16" serializeAs="String">
                        <value>16777215</value>
                </setting>
                <setting name="SaveCustomColors" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="ColorDialogWithTitle_DefaultTitle" serializeAs="String">
                        <value>Color Dialog</value>
                </setting>
        </xEyedropper.Properties.Settings>
        <Eyedropper.Properties.Settings>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColorHTML" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColorRGB" serializeAs="String">
                <value>False</value>
            </setting>
        </Eyedropper.Properties.Settings>
    </userSettings>
</configuration>
